{% extends "base.njk" %}

<!-- content start -->
{% block content %}

<main id="content">
	<!-- hero section start -->
	{% include "partials/hero.njk" %}
	<!-- hero section end -->

	<!-- services section start -->
	{% include "partials/services-section.njk" %}
	<!-- services section end -->

	<!-- portfolio section start -->
	{% include "partials/portfolio-section.njk" %}
	<!-- portfolio section end -->

	<!-- team section start -->
	{% include "partials/team-section.njk" %}
	<!-- team section end -->

	<!-- contact section start -->
	{% include "partials/contact-section.njk" %}
	<!-- contact section end -->
</main>
<!-- end main -->

{% endblock content %}
<!-- content start -->
