<header id="hero" class="apply-section apply-hero-section" role="banner">
	<div class="apply-wrapper">
		<div class="apply-content animate-in">
			<h1 class="title">Andromeda</h1>
			<h2 class="subtitle">TailwindCSS Theme</h2>

			<p class="text">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit.
				Nesciunt illo tenetur fuga ducimus numquam ea!
			</p>

			<div class="cta-buttons">
				<a class="apply-btn-standard" href="#services">Learn More</a>
				<a class="apply-btn-standard" href="#contact">Get Started</a>
			</div>
		</div>
	</div>
</header>
